.footer {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}

.copySettings {
  margin-right: auto;
}

.copySettings::before {
  content: "Copy Settings to All Images";
}

.exportAll::before {
  content: "Export All";
}

@media (width <= 740px) {
  .copySettings::before {
    content: "Copy Settings";
  }
}
