.root {
  display: flex;
  flex-direction: column;

  color: var(--color-primary);
  font-weight: var(--font-weight-medium);

  background-color: color-mix(in oklab, var(--color-base) 85%, transparent);
  border-radius: var(--border-radius-controls);
  box-shadow: 0 1px 3px #00000010;
  backdrop-filter: blur(20px);
}

.select select {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.setting {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 6px 8px;

  font-size: var(--font-size-small);
}

.setting:first-of-type {
  text-align: right;

  border-top: 1px solid var(--color-divider);
}

.setting > span:last-of-type {
  width: 36px;

  white-space: nowrap;
}

.download {
  display: flex;
  gap: 6px;
  align-items: center;
  height: 32px;
  padding: 8px;

  color: inherit;
  font-size: var(--font-size-small);

  background: none;
  border: none;
  border-top: 1px solid var(--color-divider);
  border-bottom-right-radius: var(--border-radius-controls);
  border-bottom-left-radius: var(--border-radius-controls);
  cursor: pointer;

  appearance: none;
}

.download:focus {
  outline: none;
}

.download:focus-visible {
  outline: var(--focus-outline);
}

.download:hover:not(:disabled) {
  background-color: color-mix(in oklab, var(--color-primary) 6%, transparent);
}

.download:disabled {
  color: color-mix(in oklab, var(--color-primary) 50%, transparent);

  cursor: not-allowed;
  opacity: 0.5;
}
