.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  padding: 16px 16px 12px 0;
}

.viewport {
  --color-checkerboard: color-mix(
    in oklab,
    var(--color-primary) 10%,
    transparent
  );
  position: relative;

  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background-image:
    linear-gradient(
      45deg,
      var(--color-checkerboard) 25%,
      transparent 25%,
      transparent 75%,
      var(--color-checkerboard) 75%
    ),
    linear-gradient(
      45deg,
      var(--color-checkerboard) 25%,
      transparent 25%,
      transparent 75%,
      var(--color-checkerboard) 75%
    );
  background-position:
    0 0,
    10px 10px;
  background-size: 20px 20px;
  border-radius: var(--border-radius-panels);
  box-shadow:
    0 0 1px #0005,
    0 8px 20px -8px #0003;
  cursor: grab;

  touch-action: none;
  user-select: none;
}

.viewport.panning {
  cursor: grabbing;
}

.quadrant {
  position: absolute;
  inset: 0;
}

:global(html:has(#clear-all:hover)) .quadrant,
:global(html:has(#clear-all:focus-visible)) .quadrant {
  opacity: 0.3;
}

.preview {
  width: 100%;
  height: 100%;
  object-fit: contain;

  transform-origin: 0 0;

  will-change: transform;
}

.placeholder {
  opacity: 0.3;
}

.dividerH,
.dividerV {
  position: absolute;
  z-index: 1;

  pointer-events: none;
}

.dividerH {
  top: 50%;
  right: 0;
  left: 0;

  height: 1px;

  background: color-mix(in oklab, var(--color-primary) 30%, transparent);
  border-bottom: 1px solid
    color-mix(in oklab, var(--color-base) 20%, transparent);
}

.dividerV {
  top: 0;
  bottom: 0;
  left: 50%;

  width: 1px;

  background: color-mix(in oklab, var(--color-primary) 30%, transparent);
  border-left: 1px solid color-mix(in oklab, var(--color-base) 20%, transparent);
}

.label {
  position: absolute;
  z-index: 2;

  display: flex;
  gap: 6px;
  align-items: baseline;
  padding: 6px 8px;

  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
  white-space: nowrap;

  background-color: color-mix(in oklab, var(--color-base) 30%, transparent);
  border-radius: 4px;
  backdrop-filter: blur(20px);

  pointer-events: none;
}

.size {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-small);

  opacity: 0.8;
}

.labelTl {
  top: 8px;
  left: 8px;
}

.labelTr {
  top: 8px;
  right: 8px;
}

.labelBl {
  bottom: 8px;
  left: 8px;
}

.labelBr {
  right: 8px;
  bottom: 8px;
}

/* Footer */
.footer {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}

.footerActions {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: auto;
}

.exportImage::before {
  content: attr(data-label);
}

@media (width <= 740px) {
  .exportImage::before {
    content: "Export Image";
  }
}

@media (width <= 365px) {
  .exportImage {
    display: none;
  }
}
