.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  padding: 16px 16px 12px 0;
}

.viewportContainer {
  position: relative;

  flex: 1;
}

.viewport {
  --color-checkerboard: color-mix(
    in oklab,
    var(--color-primary) 10%,
    transparent
  );
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;

  background-image:
    linear-gradient(
      45deg,
      var(--color-checkerboard) 25%,
      transparent 25%,
      transparent 75%,
      var(--color-checkerboard) 75%
    ),
    linear-gradient(
      45deg,
      var(--color-checkerboard) 25%,
      transparent 25%,
      transparent 75%,
      var(--color-checkerboard) 75%
    );
  background-position:
    0 0,
    10px 10px;
  background-size: 20px 20px;
  border-radius: var(--border-radius-panels);
  box-shadow:
    0 0 1px #0005,
    0 8px 20px -8px #0003;
  cursor: grab;

  touch-action: none;
  user-select: none;
}

.viewport.panning {
  cursor: grabbing;
}

.preview {
  position: absolute;
  inset: 0;
}

:global(html:has(#clear-all:hover)) .preview,
:global(html:has(#clear-all:focus-visible)) .preview {
  opacity: 0.3;
}

.preview:nth-child(1) {
  clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
}

.preview:nth-child(2) {
  clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
}

.preview:nth-child(3) {
  clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
}

.preview:nth-child(4) {
  clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
}

.preview > img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  transform-origin: 0 0;

  will-change: transform;
}

.placeholder {
  opacity: 0.6;
}

.dividerH,
.dividerV {
  position: absolute;
  z-index: 1;

  pointer-events: none;
}

.dividerH {
  top: 50%;
  right: 0;
  left: 0;

  height: 1px;

  background: color-mix(in oklab, var(--color-primary) 30%, transparent);
  border-bottom: 1px solid
    color-mix(in oklab, var(--color-base) 20%, transparent);
}

.dividerV {
  top: 0;
  bottom: 0;
  left: 50%;

  width: 1px;

  background: color-mix(in oklab, var(--color-primary) 30%, transparent);
  border-left: 1px solid color-mix(in oklab, var(--color-base) 20%, transparent);
}

.hud {
  position: absolute;
  z-index: 2;

  width: 150px;

  pointer-events: auto;
}

.hud.top-left {
  top: 8px;
  left: 8px;
}

.hud.top-right {
  top: 8px;
  right: 8px;
}

.hud.bottom-left {
  bottom: 8px;
  left: 8px;
}

.hud.bottom-right {
  right: 8px;
  bottom: 8px;
}
