.button {
  position: relative;

  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;

  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-basic);
  line-height: 1.2;
  letter-spacing: 0.02em;

  border: 1px solid;
  border-color: transparent;
  border-radius: var(--border-radius-controls);
  cursor: pointer;

  transition:
    background-color var(--transition-active),
    border-color var(--transition-active),
    color var(--transition-active);
}

.inner {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.button:disabled {
  outline: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.button:focus {
  z-index: 3;

  outline: none;
}

.button[data-focus-visible="true"]:not(:disabled) {
  outline: var(--focus-outline);
}

.default {
  color: var(--color-secondary);

  background-color: transparent;
  border-color: transparent;
}

.default:hover:not(:disabled) {
  color: var(--color-primary);

  background-color: var(--color-divider);
}

.primary {
  color: var(--color-base);

  background-color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow:
    0 2px 4px #00000026,
    0 2px 6px #00000014;
}

.primary:disabled,
.primary.disabled {
  color: color-mix(in oklab, var(--color-base) 50%, transparent);

  box-shadow: none;
}

.primary:hover:not(:disabled) {
  background-color: color-mix(in oklab, var(--color-primary) 80%, transparent);
}

.primary:active {
  box-shadow: none;
}

.secondary {
  color: var(--color-primary);

  background-color: var(--color-divider);
  border-color: transparent;
}

.secondary:disabled,
.secondary.disabled {
  color: color-mix(in oklab, var(--color-primary) 50%, transparent);
}

.secondary:hover:not(:disabled) {
  background-color: color-mix(in oklab, var(--color-primary) 12%, transparent);
  border-color: transparent;
}

@media (prefers-color-scheme: dark) {
  .secondary:hover:not(:disabled),
  .secondary[data-focus-visible="true"]:not(:disabled) {
    background-color: color-mix(
      in oklab,
      var(--color-primary) 25%,
      transparent
    );
  }
}

.hidden {
  visibility: hidden;
}

.button:has(.hidden)::before {
  visibility: hidden;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
