:root {
  --color-base: #fefefe;
  --color-primary: #000;
  --color-secondary: rgb(0 0 0 / 40%);
  --color-divider: color-mix(in oklab, var(--color-primary) 6%, transparent);
  --color-focus: hsl(48 98% 58%);
  --color-danger: hsl(0 75% 60%);

  /* Font sizes */
  --font-size-title: 32px;
  --font-size-header: 22px;
  --font-size-large: 20px;
  --font-size-basic: 14px;
  --font-size-small: 11px;

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-medium: 460;
  --font-weight-bold: 640;

  /* Misc */
  --border-radius-controls: 4px;
  --border-radius-panels: 8px;
  --height-controls-small: 26px;
  --portrait-width: 600px;

  /* Animations */
  --transition-active: 0.07s ease-out;
  --transition-basic: 0.1s ease-out;

  /* Elevation */
  --z-index-menu: 1000;
  --z-index-dialog: 999;
  --z-index-focus: 10;

  /* Focus */
  --focus-outline-style: 3px solid;
  --focus-outline: 3px solid var(--color-focus);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-base: #121212;
    --color-primary: #fefefe;
    --color-secondary: rgb(255 255 255 / 60%);
    --color-divider: color-mix(in oklab, var(--color-primary) 12%, transparent);
    --color-focus: hsl(42 95% 59%);
    --color-danger: hsl(0 60% 35%);
  }
}
