@import "./constants.css";
@import "./common.css";

html {
  height: 100dvh;
  overflow: hidden;

  background-color: var(--color-base);
}

body {
  height: 100dvh;
  overflow: hidden;
  margin: 0;

  color: var(--color-primary);
  font-size: var(--font-size-basic);
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.4;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
body,
section,
nav,
main,
ul,
ol,
li,
header,
footer,
div {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: currentcolor;

  transition: text-decoration-color 0.2s ease-in-out;

  text-decoration-color: color-mix(in oklab, currentcolor 20%, transparent);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

a:hover {
  transition: none;

  text-decoration-color: currentcolor;
}

::selection {
  color: #000;

  background-color: var(--color-focus);
}

h1 {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-title);
}

h2 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-header);
}

footer {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 4px 16px 8px;

  color: color-mix(in oklab, currentcolor 50%, transparent);
  font-size: var(--font-size-small);
}
