.fileInput {
  position: absolute;

  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;

  visibility: hidden;

  appearance: none;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
}

@media (width <= 600px) {
  .main {
    flex-direction: column;
  }
}

.footer {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 0 16px 12px;

  color: var(--color-secondary);
  font-size: var(--font-size-small);
}
