.container {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 20px;
  align-items: flex-start;
  width: 180px;
  height: 100vh;
  height: 100dvh;
  margin: 0;
  padding: 24px 0 16px 16px;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  width: 100%;
}

.itemWrapper {
  position: relative;

  display: flex;
  gap: 2px;
}

.item {
  display: grid;
  gap: 2px;
  width: min-content;
  padding: 0;

  color: var(--color-primary);
  font-size: var(--font-size-basic);
  text-align: left;

  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}

.item span {
  font-size: var(--font-size-small);
}

.itemWrapper:hover > .item,
.item.selected,
.itemWrapper:has(:focus-visible) > .item {
  opacity: 1;
}

:global(html:has(#clear-all:hover)) .item,
:global(html:has(#clear-all:focus-visible)) .item {
  opacity: 0.5;
}

.item:focus-visible {
  outline: none;
}

.item:focus-visible img {
  outline: var(--focus-outline);
}

.preview {
  position: relative;
}

.preview::before {
  --color-checkerboard: color-mix(
    in oklab,
    var(--color-primary) 10%,
    transparent
  );
  position: absolute;
  inset: 0;
  z-index: -1;

  background-image:
    linear-gradient(
      45deg,
      var(--color-checkerboard) 25%,
      transparent 25%,
      transparent 75%,
      var(--color-checkerboard) 75%
    ),
    linear-gradient(
      45deg,
      var(--color-checkerboard) 25%,
      transparent 25%,
      transparent 75%,
      var(--color-checkerboard) 75%
    );
  background-position:
    0 0,
    4px 4px;
  background-size: 8px 8px;
  border-radius: var(--border-radius-controls);

  content: "";
}

.preview::after {
  position: absolute;
  inset: 0;

  border-radius: var(--border-radius-controls);

  transition: background-color var(--transition-basic);

  content: "";
}

.thumb {
  display: block;
  width: auto;
  max-width: 130px;
  height: auto;
  max-height: 120px;

  border-radius: var(--border-radius-controls);
}

.remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;

  color: var(--color-secondary);
  font-size: var(--font-size-basic);
  line-height: 1;

  background: none;
  border: none;
  border-radius: var(--border-radius-controls);
  cursor: pointer;
  opacity: 0;

  transition:
    color var(--transition-basic),
    opacity var(--transition-basic);
}

.itemWrapper:hover .remove,
.itemWrapper:has(:focus-visible) .remove,
.itemWrapper:has(.selected) .remove {
  opacity: 1;
}

.remove:hover,
.remove:focus-visible {
  color: var(--color-primary);
}

.remove:focus-visible {
  outline: var(--focus-outline-style) var(--color-danger);
  outline-offset: -3px;
}

.itemWrapper:has(.remove:hover) .preview::after,
.itemWrapper:has(.remove:focus-visible) .preview::after {
  background-color: color-mix(in oklab, var(--color-danger) 70%, transparent);
}

.actions {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 40px;
  align-items: flex-start;
  width: 100%;
}

.action {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  padding: 6px 8px;

  color: var(--color-primary);

  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-controls);
  transform: translateX(-8px);
  cursor: pointer;

  transition: background-color var(--transition-basic);
}

.addImages:hover {
  color: var(--color-primary);

  background-color: var(--color-divider);
}

.addImages:focus-visible {
  outline: var(--focus-outline);
}

.action span:last-of-type {
  color: color-mix(in oklab, var(--color-primary) 40%, transparent);
  font-size: var(--font-size-small);
}

.clearAll {
  margin-top: auto;
}

.clearAll:hover {
  background-color: transparent;
}

.clearAll:focus-visible {
  outline: none;
  outline: var(--focus-outline-style) var(--color-primary);
}

@media (width <= 600px) {
  .container {
    z-index: 2;

    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    padding: 0;

    background-color: var(--color-base);
    border-bottom: 1px solid var(--color-divider);
  }

  .list {
    flex-flow: row nowrap;
    width: 100vw;
    padding: 16px;
    overflow-x: auto;

    scroll-padding-left: 16px;

    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

  .list::-webkit-scrollbar {
    display: none;
  }

  .itemWrapper {
    flex-shrink: 0;
    width: max-content;
    max-width: 130px;

    scroll-snap-align: start;
  }

  .item {
    border: 1px solid var(--color-divider);
  }

  .remove {
    opacity: 1;
  }

  .actions {
    flex-flow: row wrap;
    gap: 8px;
    justify-content: flex-start;
    padding: 12px 16px;
  }

  .addImages {
    margin-top: 0;
    padding: 6px 12px;
  }

  .clearAll {
    margin-top: 0;
    margin-left: auto;
    padding: 6px 12px;

    border-radius: var(--border-radius-controls);
    transform: none;
  }

  .action span:last-of-type {
    display: none;
  }
}
